@import "../bower_components/normalize-css/normalize.css";

$blck: #000;
$dark: #222;
$copy: #444;
$grey: #666;
$lght: #888;
$lgt0: #aaa;
$lgt1: #ccc;
$lgt2: #eee;

$bkgd: #e2e2e2;
$fore: #fafafa;

%reset {
    margin: 0;
    padding: 0;
}

%translate-3d {
    transform: translate3d(0,0,0);
}

html,
body {
    height: 100%;
}

body {
    @extend %translate-3d;

    background: $bkgd;
    color: $copy;
    display: flex;
    font-family: "HelveticaNeue-Light",
                 "Helvetica Neue Light",
                 "Helvetica Neue",
                 Helvetica,
                 Arial,
                 "Lucida Grande",
                 sans-serif;
}

main {
    @extend %translate-3d;

    background: $blck;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

h1 {
    display: inline-block;
    font-weight: normal;
    height: 50px;
    line-height: 50px;
    margin: -25px 0 0 -100px;
    text-align: center;
    width: 200px;
}

canvas {
    /* http://29a.ch/2011/5/27/fast-html5-canvas-on-iphone-mobile-safari-performance */
    @extend %translate-3d;

    background: #000;

    /**
     * http://nullsleep.tumblr.com/post/16417178705/how-to-disable-image-smoothing-in-modern-web-browsers
     *
     * DOESN'T WORK IN CHROME?
     * @see http://jsfiddle.net/VAXrL/21/
     * @see http://jsfiddle.net/worldhack/C4Q45/ <-- possible work around?
     */
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.inner {
    position: relative;
        top: 50%;
        left: 50%;
}

.hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.hidden-completely {
    display: none;
    visibility: hidden;
}































/*====================================================================================================================*/
