@import "../bower_components/normalize-css/normalize.css";

$dark: #222;
$copy: #444;
$grey: #666;
$lght: #888;
$lgt0: #aaa;
$lgt1: #ccc;
$lgt2: #eee;

$bkgd: #e2e2e2;
$fore: #fafafa;

%reset {
    margin: 0;
    padding: 0;
}

%ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

html,
body {
    height: 100%;
}

body {
    background: $bkgd;
    color: $copy;
    display: flex;
    font-family: "HelveticaNeue-Light",
                 "Helvetica Neue Light",
                 "Helvetica Neue",
                 Helvetica,
                 Arial,
                 "Lucida Grande",
                 sans-serif;
}

main {
    background: $fore;
    height: 100%; //
    margin: auto;
//    max-width: 960px; //
    overflow: hidden;
    width: 100%;
}































/*====================================================================================================================*/
